.toast-container {
	position: fixed;
	z-index: 9999;
	right: 20px;
	bottom: 20px;
	max-width: 350px;
}

.toast-list {
	display: flex;
	flex-direction: column-reverse;
	padding: 0;
	margin: 0;
	gap: 0.75rem;
}

.toast-item {
	display: flex;
}

.toast {
	z-index: calc(var(--toast-count) - var(--toast-index));
	display: flex;
	overflow: hidden;
	width: 18rem;
	height: 4rem;
	box-sizing: border-box;
	align-items: center;
	justify-content: space-between;
	padding: 12px 16px;
	border: 1px solid var(--light, var(--primary-color-6))
	var(--dark, var(--primary-color-7));
	border-radius: 0.5rem;
	margin-top: -4rem;
	box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
	filter: var(--light, none)
	var(
			--dark,
			brightness(calc(0.5 + 0.5 * (1 - ((var(--toast-index) + 1) / 4))))
	);
	opacity: calc(1 - var(--toast-hidden));
	transform: scale(
			calc(100% - var(--toast-index) * 5%),
			calc(100% - var(--toast-index) * 2%)
	);
	transition: transform 0.2s ease, margin-top 0.2s ease, opacity 0.2s ease;

	--toast-hidden: calc(min(max(0, var(--toast-index) - 2), 1));
}

.toast-container:not(:hover, :focus-within)
.toast[data-toast-even]:not([data-top]) {
	animation: slide-up-even 0.2s ease-out;
}

.toast-container:not(:hover, :focus-within)
.toast[data-toast-odd]:not([data-top]) {
	animation: slide-up-odd 0.2s ease-out;
}

@keyframes slide-up-even {
	from {
		transform: translateY(0.5rem)
		scale(
				calc(100% - var(--toast-index) * 5%),
				calc(100% - var(--toast-index) * 2%)
		);
	}

	to {
		transform: translateY(0)
		scale(
				calc(100% - var(--toast-index) * 5%),
				calc(100% - var(--toast-index) * 2%)
		);
	}
}

@keyframes slide-up-odd {
	from {
		transform: translateY(0.5rem)
		scale(
				calc(100% - var(--toast-index) * 5%),
				calc(100% - var(--toast-index) * 2%)
		);
	}

	to {
		transform: translateY(0)
		scale(
				calc(100% - var(--toast-index) * 5%),
				calc(100% - var(--toast-index) * 2%)
		);
	}
}

.toast[data-top] {
	animation: slide-in 0.2s ease-out;
}

.toast-container:hover .toast[data-top],
.toast-container:focus-within .toast[data-top] {
	animation: slide-in 0 ease-out;
}

@keyframes slide-in {
	from {
		opacity: 0;
		transform: translateY(100%)
		scale(
				calc(110% - var(--toast-index) * 5%),
				calc(110% - var(--toast-index) * 2%)
		);
	}

	to {
		opacity: 1;
		transform: translateY(0)
		scale(
				calc(100% - var(--toast-index) * 5%),
				calc(100% - var(--toast-index) * 2%)
		);
	}
}

.toast-container:hover .toast,
.toast-container:focus-within .toast {
	margin-top: var(--toast-padding);
	filter: brightness(1);
	opacity: 1;
	transform: scale(calc(100%));
}

.toast[data-type="success"] {
	background-color: var(--primary-success-color);
	color: var(--secondary-success-color);
}

.toast[data-type="error"] {
	background-color: var(--primary-error-color);
	color: var(--contrast-error-color);
}

.toast[data-type="warning"] {
	background-color: var(--primary-warning-color);
	color: var(--secondary-warning-color);
}

.toast[data-type="info"] {
	background-color: var(--primary-info-color);
	color: var(--secondary-info-color);
}

.toast-content {
	flex: 1;
	margin-right: 8px;
	transition: filter 0.2s ease;
}

.toast-title {
	margin-bottom: 4px;
	color: var(--secondary-color-4);
	font-weight: 600;
}

.toast-description {
	color: var(--secondary-color-3);
	font-size: 0.875rem;
}

.toast-close {
	align-self: flex-start;
	padding: 0;
	border: none;
	margin: 0;
	background: none;
	color: var(--secondary-color-3);
	cursor: pointer;
	font-size: 18px;
	line-height: 1;
}

.toast-close:hover {
	color: var(--secondary-color-1);
}

@media (prefers-color-scheme: dark) {
	:root {
		--dark: initial;
		--light: ;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--dark: ;
		--light: initial;
	}
}

:root {
	/* Primary colors */
	--primary-color: var(--dark, #000) var(--light, #fff);
	--primary-color-1: var(--dark, #0e0e0e) var(--light, #fbfbfb);
	--primary-color-2: var(--dark, #0a0a0a) var(--light, #fff);
	--primary-color-3: var(--dark, #141313) var(--light, #f8f8f8);
	--primary-color-4: var(--dark, #1a1a1a) var(--light, #f8f8f8);
	--primary-color-5: var(--dark, #262626) var(--light, #f5f5f5);
	--primary-color-6: var(--dark, #232323) var(--light, #e5e5e5);
	--primary-color-7: var(--dark, #3e3e3e) var(--light, #b0b0b0);

	/* Secondary colors */
	--secondary-color: var(--dark, #fff) var(--light, #000);
	--secondary-color-1: var(--dark, #fafafa) var(--light, #000);
	--secondary-color-2: var(--dark, #e6e6e6) var(--light, #0d0d0d);
	--secondary-color-3: var(--dark, #dcdcdc) var(--light, #2b2b2b);
	--secondary-color-4: var(--dark, #d4d4d4) var(--light, #111);
	--secondary-color-5: var(--dark, #a1a1a1) var(--light, #848484);
	--secondary-color-6: var(--dark, #5d5d5d) var(--light, #d0d0d0);

	/* Highlight colors */
	--focused-border-color: var(--dark, #2b7fff) var(--light, #2b7fff);
	--primary-success-color: var(--dark, #02271c) var(--light, #ecfdf5);
	--secondary-success-color: var(--dark, #b6fae3) var(--light, #10b981);
	--primary-warning-color: var(--dark, #342203) var(--light, #fffbeb);
	--secondary-warning-color: var(--dark, #feeac7) var(--light, #f59e0b);
	--primary-error-color: var(--dark, #a22e2e) var(--light, #dc2626);
	--secondary-error-color: var(--dark, #9b1c1c) var(--light, #ef4444);
	--contrast-error-color: var(--dark, var(--secondary-color-3))
	var(--light, var(--primary-color));
	--primary-info-color: var(--dark, var(--primary-color-5))
	var(--light, var(--primary-color));
	--secondary-info-color: var(--dark, var(--primary-color-7))
	var(--light, var(--secondary-color-3));
}
